<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.main.common.persistence.dao.LocationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.delivery.main.common.persistence.template.modal.Location">
        <id column="location_id" property="locationId" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="title" property="title" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
