<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.delivery.main.common.persistence.dao.RestaurantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.delivery.main.common.persistence.template.modal.Restaurant">
        <id column="restaurant_id" property="restaurantId" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="picture" property="picture" />
        <result column="month_sales" property="monthSales" />
        <result column="month_sales_tip" property="monthSalesTip" />
        <result column="order_score" property="orderScore" />
        <result column="delivery_score" property="deliveryScore" />
        <result column="package_score" property="packageScore" />
        <result column="distance" property="distance" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="delivery_fee" property="deliveryFee" />
        <result column="min_price_tip" property="minPriceTip" />
        <result column="average_price_tip" property="averagePriceTip" />
        <result column="third_category" property="thirdCategory" />
        <result column="business_time" property="businessTime" />
        <result column="business_time_start" property="businessTimeStart" />
        <result column="business_time_end" property="businessTimeEnd" />
        <result column="avg_delivery_time" property="avgDeliveryTime" />
        <result column="notice" property="notice" />
        <result column="background" property="background" />
        <result column="comment_number" property="commentNumber" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="lng" property="lng" />
        <result column="lat" property="lat" />
        <result column="create_time" property="createTime" />
        <result column="last_upd_time" property="lastUpdTime" />
        <result column="status" property="status" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       restaurant_id AS restaurantId, user_id AS userId, name, picture, month_sales AS monthSales, month_sales_tip AS monthSalesTip, order_score AS orderScore, delivery_score AS deliveryScore, package_score AS packageScore, distance, delivery_time AS deliveryTime, delivery_fee AS deliveryFee, min_price_tip AS minPriceTip, average_price_tip AS averagePriceTip, third_category AS thirdCategory, business_time AS businessTime, business_time_start AS businessTimeStart, business_time_end AS businessTimeEnd, avg_delivery_time AS avgDeliveryTime, notice, background, comment_number AS commentNumber, address, phone, lng, lat, create_time AS createTime, last_upd_time AS lastUpdTime, status
    </sql>

    <select id="queryList" parameterType="java.lang.String" resultType="com.delivery.main.common.persistence.template.modal.Restaurant">
        SELECT
        <include refid="Base_Column_List"/>
         from restaurant
        where (lat between #{lat,jdbcType=VARCHAR}-0.0048 and #{lat,jdbcType=VARCHAR}+0.0048) and (lng between #{lng,jdbcType=VARCHAR}-0.0048 and #{lng,jdbcType=VARCHAR}+0.0048)
    </select>
</mapper>
